@media screen and (max-width : 991px) and (min-width: 767px){

    
/*---------------------------------------------------- HEADER -----------------------------------------------------------------------*/


/*------------------------------------------------------ FIN HEADER ----------------------------------------------------------------*/

.hebergement-populaire-recherche{
    display: flex;
}
/*---------------------------------------------------- RECHERCHE ET FILTRE -------------------------------------------------------*/
    .recherches{
        padding-left: 15px;
    }


/*--------------------------------------------------- FIN RECHERCHE ET FILTRE ------------------------------------------------------------------*/
/*------------------------------------------------- HEBERGEMENT / POPULAIRE --------------------------------------------------------------------*/
    .hebergements-populaires{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
                    /********************************** HEBERGEMENT *****************************************************************/

    .hebergements{
        background-color: white;
        width: 100%;
    }

    .hebergement{
        box-shadow: 2px 1px 1px 1px #F2F2F2;
    }

    .l1, .l2 {
        display: flex;
        flex-wrap: wrap;

    }
                    /******************************** FIN HEBERGEMENT ***************************************************************/
                
                
                /******************************** POPULAIRE *********************************************************************/
                
    .populaires{
        padding: 15px;
        flex-direction: row;
        flex-wrap: wrap;
        border-radius: 0;
        width: 80%;
    }
    .populaires header{
        width: 100%;
    }

    .populaires a{
        margin-right: 15px;
    }
    
    .populaire{
        margin-bottom: 30px;
    }

    .model{
        margin-left: 30px;
    }
              
                /******************************* FIN POPULAIRE *****************************************************************/
                
                
/*--------------------------------------------- FIN HERBERGEMENT / POPULAIRE -------------------------------------------------------------------*/
/*--------------------------------------------- ACTIVITE ---------------------------------------------------------------------------------------*/

.grande, .petite{
    margin-bottom: 30px;
}
.activites{
    padding: 0 20px;
}






/*------------------------------------------- FIN ACTIVITE --------------------------------------------------------------------------------------*/


/*--------------------------------------------------------- FOOTER ---------------------------------------------------------------------------*/

.footer{
    padding: 20px;
}

.propos{
    margin-right: 20%;
}
/*----------------------------------------------------------- FIN FOOTER -----------------------------------------------------------------------*/
 
}